{% extends 'form.html' %}
{% load crispy_forms_tags %}

{% block form %}

<div class="col-8">

    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Update Post</strong>
        </h5>

        <div class="card-body px-lg-5 pt-0">

            <form class="md-form" enctype="multipart/form-data" method="post" novalidate>
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>

</div>

{% endblock form %}
